
 .banner{
    text-align:center;
    border: solid;
    text-align: center;
    position: relative;
    display: block;
 }
 
 .button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 32px;
    padding: 16px 24px;
    margin: 10px;
    border: solid rgb(107, 70, 0);
    background: orange;
    transition: all .3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
    border: double;
}


.title,
.text,
.subtext {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    padding: 8px;
    margin: -32px;
    align-items: top;
    text-align: center;
    height:500px;
    width: auto;
    background-color: black;
    color: rgb(253, 253, 253);
    font-size: xxx-large;
    display: block;
}

.subtext{
    background-color: rgb(177, 172, 172);
    color: black;
    font-size: 46px;
    padding: 8px;
    margin: -8px;
}

.text{
    font-size: 36px;
    font-weight: 500;
    align-items: center;
    display:block;
    margin: auto;
    text-indent: 2px;
    line-height: 70px;
}

.text .ingredientes{
    line-height: 40px;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300;
    border: solid;
}

ul,
ol {
    display:table;
    margin: 100 auto;
    text-align: left;
}

.imgprinc {
    padding: 8px;
    margin: -32px;
    width: 2600px;
    height: 150px;
}

.align {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    height: -150px;
  }

  a {
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 900;
    text-align:center;
  }


body{
    background-color: rgb(216, 214, 214);
}


