
 .button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 32px;
    padding: 16px 24px;
    margin: 10px;
    border: solid rgb(107, 70, 0);
    background: orange;
    transition: all .3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.2);
}


.title,
.text,
.subtext {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    background-color: black;
    color: rgb(253, 253, 253);
    font-size: 100px;
}

.subtext{
    background-color: rgb(177, 172, 172);
    color: black;
    font-size: 46px;
}

.text{
    font-size: 26px;
    font-weight: 500;
    align-items: center;
    display:block;
    margin: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300;
}

ul,
ol {
    display:table;
    margin: 0 auto;
    text-align: center;
}

.imgprinc {
    width: 2500px;
    height: 150px;
}

.align {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  a {
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 900;
    text-align:center;
  }







