html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgb(196, 196, 196);
    overflow-x: hidden;
}

h1,
h2 {
    text-align: center;
    padding: 1%;
    color: antiquewhite;
    background-color: black;
    font-size: 6rem;
}

h2 {
    box-sizing: border-box;
    padding: 2p;
    color: black;
    background-color: lightblue;
}

p,
ol,
ul {
    font-size: 2rem;
}

img {
    border: solid rgb(77, 35, 35);
    width: 20rem;
    height: 20rem;
}


input{
    height: 1.20rem;
}

.imgprinc {
    width: 100%;
}

.button1,
.button2,
.button3 {
    height: 100px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 3rem;
    position: relative;
    background-color: black;
    padding: 1rem;
    margin: 2rem;
    transition: .2 ease-in;
}

.container {
    text-align: center;
}

.button1:hover,
.button2:hover,
.button3:hover {
    transform: scale(1.2);
}

.align {
    left: 50px;
    background-color: red;
    width: 50%;
    display: inline-block;
}